@import "@kolo/design";

.feedbacks {
  display: flex;
  justify-content: center;
  padding: 16px 0;

  @media screen and (max-width: $mobileWidth) {
    padding: 2rem 1rem 1.5rem 1rem;
  }

  @media screen and (max-width: $tabletWidth) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.feedbackContainer {
  max-width: 1024px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: $mobileWidth) {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 24px;
  }
}
