@import "@kolo/design";

.item {
  width: calc(50% - 16px);
  color: $secFontColor;
  line-height: 1.4;
  font-size: 0.7rem;

  @media screen and (max-width: 1023px) {
    width: calc(50% - 8px);
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 28px;
    width: 100%;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.question {
  margin-bottom: 16px;
  font-weight: 500;
}
