@import "@kolo/design";

.contentSection {
  display: flex;
  background-color: $WhiteBG;
}

.asideContent {
  position: sticky;
  bottom: 0;
  width: 344px;
  flex-shrink: 0;
  align-self: flex-end;
  min-height: calc(100vh - 216px);
  height: calc(100vh - 72px);
  overflow-y: scroll;
  border-top: none;
  border-right: 1px solid $DarkBG;
  background-color: $LightBG;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    opacity: 0.5;
    border-radius: 4px;
    background-color: $ScrollbarColor;
  }

  &Right {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
}

.content {
  min-height: calc(100vh - 216px);

  &OnSide {
    width: calc(100vw - 344px);
  }

  &InCenter {
    width: calc(100vw - 688px);
  }
}
