@import "@kolo/design/index.scss";

.reset-password {
  height: calc(100vh - 144px);
  padding-top: 56px;
}

.reset-password__container {
  box-sizing: border-box;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 16px;
}

.reset-password__title {
  display: flex;
  justify-content: center;
  color: $secFontColor;
  margin: 20px 0;
  font-size: 1rem;
  line-height: 1.5;
}

.authorization__form {
  position: relative;
  margin-bottom: 24px;
}

.reset-password__success-icon {
  display: flex;
  justify-content: center;
}

.reset-password__message {
  text-align: center;
  font-size: 0.8rem;
  color: $secFontColor;
}
