@import "src/@kolo/design";

.categoryList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $LightBG;
  padding: 16px;
  list-style: none;
  transition: all 0.25s linear;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    opacity: 0.5;
    border-radius: 4px;
    background-color: $ScrollbarColor;
  }
}

.item {
  width: 100%;

  &:hover {
    border-radius: 4px;
    background-color: $DarkBG;
    color: $secFontColor;
    transition: all 0.2s linear;
  }
}
