@import "@kolo/design";

.iconTags {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.43;
  color: $GreyColor;

  margin: 12px 0 24px 0;
  outline: none;
  width: 100%;
  gap: 3px;
  padding: 0;
}

.tagLink {
  display: flex;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;

  transition: color $transition-main ease-in-out;

  &:hover {
    color: $BlueColor;
  }
}
