@import "@kolo/design";

.iconTags {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.43;
  color: $GreyColor;
  text-transform: capitalize;
  margin: 12px 0 24px 0;
  cursor: pointer;
  outline: none;
  width: 100%;
  gap: 3px;
  padding: 0;
}

.tagItem {
  display: flex;

  &:hover {
    color: $BlueColor;
  }
}
