@import "@kolo/design";

.modalContainer {
  color: $secFontColor;
}
.modalHeader {
  margin: 0 0 24px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  color: $secFontColor;

  h3 {
    font-size: 16px;
  }
}

.modalMainContent {
  display: flex;
  flex-direction: column;
}
.modalBody {
  width: 100%;
  gap: 16px;
  display: flex;
}
