// Colors
$BrandColor: #5082e6;
$LightBrandColor: #dce6fa;
$AccentColor: #269964;
$DarkBG: #e9edf7;
$LightBG: #f5f7fa;
$WhiteBG: #ffffff;
$DarkBlueBG: #393f4d;
$BrightBG: #ecf5eb;
$SeparatorColor: #e9edf7;
$OverlayColor: rgba(#26324d, 0.4);
$IconColor: #717886;
$IconHoverColor: #5082e6;
$IconDisableColor: rgba(#afb5c4, 0.8);
$InterfaceIcon: #afb5c4;
$InterfaceIconHover: #717886;
$InterfaceIconActive: #dce6fa;
$IconDisable: rgba(#afb5c4, 0.8);
$IconInvert: #ffffff;
$IconHoverBackground: #e9edf7;
$BorderFocus: rgba(#5082e6, 0.2);
$mainFontColor: #292c33;
$secFontColor: #525866;
$lighthGrey: #919eab;
$successColor: #59b511;
$errorColor: #ed5645;
$BlueColor: #2469f2;
$GreyColor: #919eab;
$RedColor: #e03737;
$GreenColor: #269964;
$DetailColor: #abd0ff;
$DisabledColor: #e4e8f2;
// Label Colors
$LabelSuccessColor: #009d3f;
$LabelSuccessBGColor: #e1f5e9;
$LabelPrimaryColor: #2469f2;
$LabelPrimaryBGColor: #e6f1ff;
$LabelWarningColor: #ff7236;
$LabelWarningBGColor: #fff1eb;
$LabelSecondaryColor: #e09e00;
$LabelSecondaryBGColor: #fff4db;

$backgroundColor: rgba(38, 50, 77, 0.4);

$CheckColor: #3d7eff;

$UnlockColor: #dff7e0;

$LighthIcon: #d1e7ff;
$ShadowColor: rgba(207, 214, 229, 0.4);
$BlackColor: rgba(252, 252, 252, 0);
$ActiveBorderColor: #cfd6e5;
$DisabledColor: rgba(221, 225, 230, 0.4);
$ActiveInputColor: rgba(207, 214, 229, 0.6);
$FocusShadowInput: rgba(80, 130, 230, 0.2);
$FocusShadowCards: rgba(9, 86, 22, 0.2);
$BorderIconCard: rgba(61, 126, 255, 0.5);
$ShadowPanel: rgba(57, 63, 77, 0.1);
$ShadowPanelInfo: rgba(41, 48, 64, 0.1);

// ColorPicker
$ColorPickerShadow: rgba(25, 37, 63, 0.1);
$ColorPickerBoxShadow: 0 2px 6px 0 $ColorPickerShadow;

//Button
$GreyDisableBgBtn: rgba(175,181,196,.8);
$LightGreyFontBtn: hsla(0,0%,100%,.5);
$LightGreyBgBtn: #eaeef7;
$GreyFontBtn: #525866;
$PrimaryGradientStart: #5c91e8;
$PrimaryGradientEnd: #3f6fdf;
$AccentGradientStart: #2fab76;
$AccentGradientEnd: #1c8651;
$BasicGradientStart: #eff2f9;
$BasicGradientEnd: #e3e8f4;

$primaryBoxShadowColor: rgba(23, 65, 152, 0.2);
$accentBoxShadowColor: rgba(9, 86, 22, 0.2);
$basicBoxShadowColor: rgba(84, 90, 105, 0.1);
$focusBoxShadowColor: rgba(80, 130, 230, 0.2);
$hoverBoxShadowColor: rgba(255, 255, 255, 0.2);
$basicBoxShadowColorSec: rgba(145, 158, 171, 0.2);

$primaryBoxShadow: inset 0 -1px 3px 0 $primaryBoxShadowColor;
$primaryBoxShadowActStart: inset 0 1px 3px 0 $primaryBoxShadowColor;
$primaryBoxShadowActEnd: inset 0 -30px 30px -2px $hoverBoxShadowColor;
$primaryBoxShadowFocHov: inset 0 30px 30px -2px $hoverBoxShadowColor;
$boxShadowFocEnd: 0 0 0 4px $focusBoxShadowColor;
$accentBoxShadow: inset 0 -1px 3px 0 $accentBoxShadowColor;
$basicBoxShadow: inset 0 -1px 3px 0 $basicBoxShadowColor;
$basicBoxShadowAct: inset 0 1px 3px 0 $basicBoxShadowColor;
$basicBoxShadowActEnd: inset 0 30px 40px -2px $basicBoxShadowColorSec;
$basicBoxShadowFocHovStart: inset 0 -1px 3px 0 $basicBoxShadowColor;
$basicBoxShadowFocMid: inset 0 -30px 40px -2px $basicBoxShadowColorSec;
$basicBoxShadowHovEnd: inset 0 -10px 40px -10px $basicBoxShadowColorSec;
//Radio Buttons Colors
$RadioButtonHover: hsla(0, 0%, 100%, 0.3);

// Link
$LinkShadow: rgba(36, 105, 242, 0.2);
$LinkBoxShadow: 0 0 0 4px $LinkShadow;
