@font-face {
  font-weight: 100;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/roboto-100.woff2") format("woff2"), url("../fonts/roboto-100.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/roboto-300.woff2") format("woff2"), url("../fonts/roboto-300.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/roboto-500.woff2") format("woff2"), url("../fonts/roboto-500.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/Robotobold.woff2") format("woff2"), url("../fonts/Robotobold.woff") format("woff");
}

@font-face {
  font-weight: 900;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/Robotoblack.woff2") format("woff2"), url("../fonts/Robotoblack.woff") format("woff");
}
