@keyframes searchSpiner {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(18deg);
  }
  20% {
    transform: rotate(36deg);
  }
  30% {
    transform: rotate(54deg);
  }
  40% {
    transform: rotate(72deg);
  }
  50% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(108deg);
  }
  70% {
    transform: rotate(126deg);
  }
  80% {
    transform: rotate(144deg);
  }
  90% {
    transform: rotate(162deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes iconLoaderSpiner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
