@import "../settings";

html {
  box-sizing: border-box;
  margin: 0;

  font-size: $mainFontSize;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;

  font-weight: normal;
  font-size: $mainFontSize;
  line-height: 1.5;
  font-family: $mainFontFamily;
  font-style: normal;
  background-color: $LightBG;
}

#root main {
  min-height: calc(100vh - 144px);
}

a {
  text-decoration: none;
}

button {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}
